.container {
  background-color: #fafafa;
  width: 100%;
  padding: 0 10%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.profile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.profile-i-container {
  display: flex;
  align-items: center;
}
.profile-img {
  height: 180px;
  width: 180px;
  border-radius: 50%;
}
.follows-details-container {
  display: flex;
}
.follow-details {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #262626;
  margin: 5px;
}
.profile-user-id-des,
.profile-user-id-small {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #262626;
}
.profile-bio-small,
.profile-bio-des {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #262626;
}
.profile-stories {
  width: 100%;
  list-style-type: none;
  padding-left: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px 10px 0px 0px;
}
.story-pic-circle {
  height: 86px;
  width: 86px;

  background-color: GREY;
  border: 1px solid #c7c7cc;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}
.story-pic {
  width: 78px;
  height: 78px;
  border-radius: 50%;
  margin: 0px 5px;
}
.profile-posts-container {
  width: 100%;
}
.profile-post-header {
  display: flex;
  align-items: center;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
}
.profile-grid-icon {
  height: 17px;
  width: 17px;
  margin: 5px;
}
.profile-post-head {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  color: #262626;
}
.profile-posts-list {
  width: 100%;
  list-style-type: none;
  padding-left: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}
.each-post-img {
  width: 33.3%;
}
.profile-post-img {
  width: 95%;
  margin: 10px;
}
.no-post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.no-post-image {
  width: 86px;
  height: 86px;
  border-radius: 43px;
  border: 2px solid #262626;
  padding: 20px;
}

.no-post-head {
  color: #262626;
  font-family: Roboto;
  font-size: 32px;
  font-weight: 300;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: center;
}
.count {
  font-weight: 500;
  line-height: 20px;
}
.profile-user-name-des,
.profile-user-name-mobile {
  color: #262626;
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px;
}

.profile-user-name-mobile {
  display: none;
}

.bio-container-mobile {
  display: none;
}
.profile-right-container {
  margin-left: 20px;
}
.profile-horizontal-line {
  border-color: #c6c6c8;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .profile-post-img {
    width: 95%;
    margin: 4px;
  }
  .profile-user-name-des {
    display: none;
  }
  .profile-user-name-mobile {
    display: block;
  }
  .profile-user-name-small {
    display: block;
  }
  .profile-img {
    width: 96px;
    height: 96px;
    border-radius: 50%;
  }
  .bio-container {
    display: none;
  }

  .bio-container-mobile {
    display: block;
  }
  .follow-details {
    display: flex;
    flex-direction: column;
    margin: 0px 10px;
  }
  .profile-user-name-mobile {
    font-size: 16px;
  }
}
